.App {
  text-align: center;
}

.step{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  background-color: cornflowerblue;
  margin: 10%;;
}
.DetailsForm{
  border: 3px solid cornflowerblue;
}
.reqs{
  color:red;
  font-size: small;
  text-align: left;
}